# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
  database:
    image: postgres:17.5-bookworm
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - taskflow-db-volume:/var/lib/postgresql/data
      # Mount initialization script to create API database or other needed DBs
      # Please ensure the script has proper permissions (e.g., chmod +x)
      # Run for the 1st time ONLY: chmod +x docker/init_databases.sh
      - type: bind
        source: ./docker/init_databases.sh
        target: /docker-entrypoint-initdb.d/init_databases.sh
        read_only: true
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER:-taskflow} -d ${POSTGRES_DB:-taskflow_db}
      interval: 5s
      retries: 5
    networks:
      - default
    restart: unless-stopped

  local-rabbitmq: # 1st service
    image: rabbitmq:4.1.2-management
    container_name: local-rabbitmq
    env_file: # Location of file(s) containing the env vars. Only accessed by the container.
      - .env
    ports:
      - 5672:5672
      - 15672:15672
    volumes: # Persist the data volume
      - rabbitmq-data:/var/lib/rabbitmq
      # Volume mapping for the config file
      # It contains the RabbitMQ configuration
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 30s
    restart: unless-stopped

  # Redis for caching
  redis:
    image: redis:8.2.3-bookworm
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
      - type: bind
        source: ./docker/redis.conf
        target: /usr/local/etc/redis/redis.conf
        read_only: true
    command: redis-server /usr/local/etc/redis/redis.conf
    healthcheck:
      test: ["CMD", "redis-cli", "--requirepass", "redis", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  # For Redis GUI management
  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    depends_on:
      - redis
    # Connection URL:
    # redis://:<password>@<host>:<port>/<db_number>
    # e.g. redis://:redis@redis:6379/0
    # Note: Use `redis` instead of `localhost` when connecting from within another container

# Named volumes ONLY!
# Persist data outside the lifecycle of the container.
volumes:
  taskflow-db-volume:
  rabbitmq-data:
  redis-data:
